# Keil MDK build output
Output/

# Editor/IDE
*.uvguix*
*.scvd
JLinkLog.txt

# OS files
Thumbs.db
Desktop.ini

# Plans files
backError.md
Bookmark_improve.md
BOOKMARK_PLAN.md
brightness.md
Eye_Protection.md
MEMORY_OPTIMIZE.md
progressbar.md
SecureProblem.md
ShowPageNum.md

# readme files
readme/

实验报告_STM32电子书阅读器.docx
